.recommendedVideos {
    background-color: #f9f9f9;
    flex: 0.8;
    flex:2;
    padding: 40px 20px 0;
  }
  
  .recommendedVideos > h2 {
    margin: 0 0 20px 5px;
  }
  
  .recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
  }