.searchPage {
    background-color: #f9f9f9;
    flex: 2;
    padding: 20px;
  }
  
  .searchPage__filter {
    align-items: center;
    color: #606060;
    display: flex;
    font-size: xx-small !important;
  }
  
  .searchPage__filter > h2 {
    margin-left: 10px;
    text-transform: uppercase;
  }
  
  .searchPage > hr {
    background-color: lightgray;
    border: 0;
    height: 1px;
    margin: 10px 0 10px 0;
  }